apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    argocd.argoproj.io/sync-wave: '-8'
  name: grafana-paas
  labels:
    dashboards: grafana-paas
    folders: grafana-paas
spec:
  client:
    preferIngress: false
  persistentVolumeClaim:
    spec:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 1Gi
  config:
    auth:
      disable_login_form: 'false'
      disable_signout_menu: 'true'
    auth.anonymous:
      enabled: 'false'
    auth.basic:
      enabled: 'true'
    auth.proxy:
      enabled: 'true'
      enable_login_token: 'true'
      header_property: 'username'
      header_name: 'X-Forwarded-User'
    log:
      mode: console
    users:
      auto_assign_org_role: Admin
      editors_can_admin: 'true'
    security:
      admin_password: secret
      admin_user: admin
  deployment:
    spec:
      strategy:
        type: RollingUpdate
        rollingUpdate:
          maxUnavailable: 100%
          maxSurge: 100%
      template:
        spec:
          containers:
            - name: grafana
              resources:
                limits:
                  memory: 2560Mi
                requests:
                  cpu: 100m
                  memory: 256Mi
              volumeMounts:
                - mountPath: /etc/ssl/certs/ca-certificates.crt
                  name: bd-certs
                  subPath: ca-certificates.crt
            - env:
                - name: NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.namespace
              name: grafana-proxy
              args:
                - '-provider=openshift'
                - '-pass-basic-auth=false'
                - '-https-address=:9091'
                - '-http-address='
                - '-email-domain=*'
                - '-upstream=http://localhost:3000'
                - '-tls-cert=/etc/tls/private/tls.crt'
                - '-tls-key=/etc/tls/private/tls.key'
                - '-client-secret-file=/var/run/secrets/kubernetes.io/serviceaccount/token'
                - '-cookie-secret-file=/etc/proxy/secrets/session_secret'
                - '-openshift-service-account=grafana-paas-sa'
                - '-openshift-ca=/etc/pki/tls/cert.pem'
                - '-openshift-ca=/var/run/secrets/kubernetes.io/serviceaccount/ca.crt'
                - '-openshift-ca=/etc/proxy/certs/ca-bundle.crt'
                - '-skip-auth-regex=^/metrics'
                - '-openshift-sar={"namespace": "$(NAMESPACE)", "resource": "services", "verb": "get"}'
              image: 'registry.redhat.io/openshift4/ose-oauth-proxy:v4.14.0'
              ports:
                - containerPort: 9091
                  name: https
              resources: {}
              volumeMounts:
                - mountPath: /etc/tls/private
                  name: grafana-tls
                  readOnly: false
                - mountPath: /etc/proxy/secrets
                  name: grafana-proxy
                  readOnly: false
                - mountPath: /etc/proxy/certs
                  name: ocp-injected-certs
                  readOnly: false
          volumes:
          - name: grafana-tls
            secret:
              secretName: grafana-tls
          - name: grafana-proxy
            secret:
              secretName: grafana-proxy
          - name: ocp-injected-certs
            configMap:
              name: ocp-injected-certs
          - name: grafana-data
            persistentVolumeClaim:
              claimName: grafana-paas-pvc
          - name: bd-certs
            configMap:
              items:
                - key: ca-bundle.crt
                  path: ca-certificates.crt
              name: ocp-injected-certs
  service:
    metadata:
      annotations:
        service.beta.openshift.io/serving-cert-secret-name: grafana-tls
    spec:
      ports:
        - name: https
          port: 9091
          protocol: TCP
          targetPort: https
  serviceAccount:
    metadata:
      annotations:
        serviceaccounts.openshift.io/oauth-redirectreference.primary: '{"kind":"OAuthRedirectReference","apiVersion":"v1","reference":{"kind":"Route","name":"grafana-paas-route"}}'
  route:
    spec:
      port:
        targetPort: https
      tls:
        termination: reencrypt
      to:
        kind: Service
        name: grafana-paas-service
        weight: 100
      wildcardPolicy: None
