apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "-9"
  name: grafana-proxy
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: grafana-proxy
subjects:
- kind: ServiceAccount
  name: grafana-paas-sa