{{- if eq .Values.argocd_paasns_gen.enabled "true" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-paasns-gen
  labels:
    app.openshift.io/runtime: quarkus
    app.kubernetes.io/part-of: argocd-paasns-gen
spec:
  selector:
    matchLabels:
      app: argocd-paasns-gen
  template:
    metadata:
      labels:
        app: argocd-paasns-gen
    spec:
      serviceAccountName: argo-service-argocd-server
      serviceAccount: argo-service-argocd-server
      containers:
        - name: argocd-paasns-gen-service
          image: "{{ .Values.argocd_paasns_gen.image.repository }}:V{{ .Values.argocd_paasns_gen.image.tag | default .Chart.AppVersion }}"
          env:
            - name: ARGOCD-NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          imagePullPolicy: Always
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /q/health/live
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 10
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /q/health/ready
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 10
          startupProbe:
            failureThreshold: 3
            httpGet:
              path: /q/health/started
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 10
          ports:
            - containerPort: 8080
              protocol: TCP
          resources:
            limits:
              cpu: '70m'
              memory: 256Mi
            requests:
              cpu: '35m'
              memory: 128Mi
  {{ end }}