{{- if eq .Values.argocd_paasns_gen.enabled "true" }}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: paasns-edit
rules:
  - verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
    apiGroups:
      - cpet.belastingdienst.nl
    resources:
      - paasns
  - verbs:
      - get
    apiGroups:
      - cpet.belastingdienst.nl
    resources:
      - paasns/status
{{ end }}